@font-face {
  font-family: "NotoSans";
  font-weight: bold;
  font-style: normal;
  src: url(/font/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  font-style: normal;
  src: url(/font/NotoSansKR-Regular.otf) format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  position: static !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
